* {
    margin: 0;
    padding: 0;
}

/* Navbar Start*/

.homeNavbar img {
    width: 5%;
    margin-right: 70px;
}

.homeNavbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1) !important;
    background-color: rgba(0, 0, 0, .15) !important;
    position: fixed !important;
    /* color: #333 !important; */
}

.scrolling .homeNavbar,
.homeNavbar:hover {
    background-color: #fff !important;
    color: #000 !important;
}

/* Navbar End */



/* Solution Start */


.Solution_grid {
    background-color: #F5F5F5;
}

.Solution_grid .solu_title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 32px;
    color: #333;
}


.Solution_left_first {
    max-width: 758px;
    margin-bottom: 16px;
    position: relative;
}

.Solution_left_first_img {
    height: 280px;
}

.Solution_first_up {
    position: relative;
    max-width: 370px;
    height: 230px;

}

.solu_card_content {
    position: absolute;
    bottom: 0px;
    left: 25px;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 200;
}


.Solution_first_up_second {
    position: relative;
    max-width: 370px;
    height: 230px;

}

.Solution_bottom_first {
    position: relative;
    max-width: 370px;
    height: 150px;

}

.Solution_bottom_second {
    position: relative;
    max-width: 370px;
    height: 150px;

}

.Solution_right_first {
    position: relative;
    max-width: 400px;
    height: 706px;
}

.Solution_left_first:hover {
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}

.Solution_left_first:hover .solu_card_title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
}

/* Solution End */



/* Product Start */

.bg_product {
    background-color: #F5F5F5 !important;
}

.product_title {
    font-size: 34px !important;
    font-weight: 700 !important;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 32px !important;
    color: #333;
}

.product_card {
    padding-bottom: 50px !important;
    background-color: #F5F5F5 !important;
}

.swiper-slide {
    width: 300px;
    height: 75px;
    margin-right: 0;
    box-shadow: none !important;
    background-color: #F5F5F5 !important;

}

.product_content {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgb(51, 51, 51) !important;
    margin-bottom: 26px !important;
}

.product_body {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgb(51, 51, 51) !important;
    margin-bottom: 26px !important;
}

.detail_link {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.detail_innerlink {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-decoration: underline !important;
    margin-bottom: 15px !important;
    color: #333 !important;
    text-transform: inherit !important;
}


.swiper-slide:hover .detail_innerlink {
    border: 1px solid #0e5fac;
    padding: 6px 55px;
    background-color: #0e5fac;
    color: white !important;
    text-decoration: none !important;
    font-weight: 400;
}

.swiper-slide:hover .product_image {
    transform: scale(1.2);
    transition: all 1s ease-in;

}

.swiper-slide:hover .product_card {
    box-shadow: 0 0 16px rgba(0, 0, 0, .12);
    cursor: pointer;
}

/* product End */



/* Event Start */


.bg_event {
    background: url('https://www.dahuasecurity.com/images/en-news-bg.png');
    padding-bottom: 150px;
}


.Event_title {
    font-size: 34px !important;
    font-weight: 700 !important;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 32px !important;
    color: #333;
}

.event {
    display: flex;
    gap: 15px;
}

.blog_title {
    font-size: 25px !important;
    font-weight: 700 !important;
}

.event_CardHeader {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}



.event_left_first {
    width: 600px;
    height: 410px;
}

.event_right_up {
    display: flex;
    height: 197px;
}

.event_right_up_media {
    /* max-width: 300px; */
    width: 300px;
    height: 200px;
}

.event_right_up_media img {
    width: 50%;
}

.event__CardContent_up {
    background-color: #F5F5F5;
}

.event_Content_up {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.twoImageBox {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

/* .event__CardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.event__CardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    background-color: #F5F5F5;
}

.event_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.blog_title {
    font-size: 25px !important;
    line-height: 20px !important;
    font-weight: 700 !important;
    color: #333;
}

.event__link {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #333 !important;
    margin-top: 14px !important;
    text-decoration: none !important;
}

.eventImageCover {
    height: 280px;
    overflow: hidden;
}

.eventImageCover .event_media {
    height: 280px;
    transition: all .5s;
}

.eventImageCover:hover .event_media {
    transform: scale(1.2);
}

.event_left_first:hover .event_media {
    transform: scale(1.2);
    margin-bottom: 10px;
}

.event_left_first:hover .event_media {
    transform: scale(1.2);
    margin-bottom: 10px;
}

.event_left_first:hover .event__CardContent_up {
    background-color: #fff;
    padding-bottom: 15px;
}

.event_left_first:hover .event__link {
    cursor: pointer !important;
    text-decoration: underline !important;
}

.event_right_up:hover .event_right_up_media {
    transform: scale(1.1);
    margin-bottom: 10px;
}

.event_right_up:hover .event__CardContent {
    background-color: #fff;
}

.event_right_up:hover .event__link {
    cursor: pointer !important;
    text-decoration: underline !important;
}


/* Event End................................................................... */

/* Details Start */

.fotter_nav {
    display: flex;
    gap: 30px;
}

.footer_nav_item {
    list-style: none;
}

.footer_link_list {
    list-style: none;
    margin-bottom: 5px;

}

.primary_hover {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    transition: all .8s;
}

.primary_hover:hover {
    color: #0e5fac;
}

.details_box {
    background-color: #1f2024;
    width: 100%;
    margin-bottom: 10px;
}

.footer_title {
    color: rgb(197, 197, 197);
    font-size: 12px !important;
    margin-bottom: 20px !important;
}

.details_input {

    display: flex;
    justify-content: center;
    padding: 55px 0 40px;
    margin-bottom: 10px;
    gap: 60px;
    width: 100%;
}

.newsletter {
    position: relative;
    width: 100%;
    max-width: 231px;

}

.newsletter_title {
    color: #c5c5c5;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 14px;
}

.newsletter #outlined-basic {
    height: 10px;
    width: 205px;
    background-color: transparent;
    margin: 0;
    border: 1px solid #3c3c42;
}

.newsletter #outlined-basic:hover {
    border: inherit !important;
}

.Button_wrap {
    position: absolute;
    right: 7px;
    top: 36px;
}

.details_btn {
    background-color: #0e5fac !important;
    padding: 2px 23px !important;
    color: white;
    font-size: 12px;
    text-transform: inherit !important;
}

.newsletter_subtitle {
    font-size: 12px;
    margin-top: 12px;
    color: #c5c5c5;
    font-weight: 100;
}

.fotter_body {
    border: 1px solid #3c3c42;
    padding: 45px 0;
}

.fotter_innerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.copyright {
    font-size: 12px;
    color: #606060;
    margin-bottom: 16px;
}

.chinese {
    display: flex;
    gap: 15px;
}

.chinese_a {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.chinese_b {
    font-size: 12apx;
    color: rgb(96, 96, 96);
}

/* .fotter_icons {
    display: flex;
    gap: 10px;
    color:red;
} */

.goToTop {
    width: 50px;
    height: 50px;
    background-color: #b2b2b2;
    color: white;
    border-radius: 50%;
    float: right;
}

.goToTop:hover {
    background-color: #0e5fac;
}

/* Details End */



/* responsive Start */

@media screen and (min-width: 1024px) {
    .product_card {
        height: 260px;
        width: 400px;
        background-color: red;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .gfg-div {
        width: 200px;
        height: 200px;
        background-color: red;
        color: #fff;
    }
}