.dashboardMenuList {
  position: relative;
}

.arrowKeys {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.dashboardMenuList .MuiListItemText-root {
  transition: all ease 1s;
  display: none;

}

.dashboardMenuList.active .MuiListItemText-root {
  transition: all ease 1s;
  display: unset;

}

.MuiListSubheader-root {
  height: 50px;
}

.dashboard_list .MuiButtonBase-root {
  height: 50px;
}

.arrowKeys .MuiButtonBase-root {
  width: 25px !important;
  height: 40px;
}

.admin_page {
  display: flex;
  height: 100%;
}

.admin_page .sidebar {}

.admin_page .MuiList-root {
  height: 87.5vh;
  background-color: white;
  color: black;
}

.admin_page .content_area {
  flex-wrap: wrap;
  overflow: auto;
  height: 89.1vh;
  width: 90%;
  justify-content: center;
  /* background-color: rgba(0,0,0,0.2) !important; */
}

.sidebar .MuiListSubheader-root {
  background-color: #E0F4FF;
  color: #5569D9;
}

.logout_btn {
  color: black !important;
  font-weight: 600;
}

.admin_layout .MuiPaper-root {
  background-color: #FAFBFD;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.admin_layout img {
  width: 20%;
}

.admin_page .MuiSvgIcon-root {
  position: sticky;
}

.dh_left_area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dh_left_area .dh_title {
  font-size: 20px;
}

.dh_left_area .back_btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.dashboard_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cardTitle {
  font-size: 22px !important;
  font-weight: 600 !important;
  margin-left: 15px !important;
  margin-bottom: 5px !important;
  letter-spacing: normal !important;
}


.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Dot {
  color: #717275;
  font-size: 23px !important;
  font-weight: 700 !important;
}

.CardParent {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0 10px 5px 10px;
}

.basic_card {
  border-radius: 15px !important;
  width: 300px !important;
}

.Title_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: 800 !important;
  font-size: 14px !important;
}

.personIcon {
  border: 1px solid transparent;
  background: #e0e8e9;
  padding: 4px;
  border-radius: 10px;
  color: #6060e3;
}

.middleLine {
  display: flex;
  gap: 24px;
  align-items: center;
}

.Revenue {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.increment {
  display: flex;
  align-items: center;
  gap: 3px;
  background: #25a35e;
  border-radius: 10px;
  margin-top: 12px !important;
  padding: 2px 8px;
  font-size: 13px !important;
  color: lightgreen;
  margin-bottom: 12px !important;
}

.increIcon {
  font-size: 14px !important;
}

.decrement {
  display: flex;
  align-items: center;
  gap: 3px;
  background: coral;
  border-radius: 10px;
  margin-top: 12px !important;
  padding: 2px 8px;
  font-size: 13px !important;
  color: red;
  margin-bottom: 12px !important;
}

.decreIcon {
  font-size: 14px !important;
}

.CardContent {
  padding-bottom: 14px !important;
}