.dashboardMenuList {
  position: relative;
}

.arrowKeys {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  position: absolute;
  right: -66px;
  top: 5px;
}

.dashboardMenuList .MuiListItemText-root {
  transition: all ease 1s;
  display: none;

}

.dashboardMenuList.active .MuiListItemText-root {
  transition: all ease 1s;
  display: unset;

}

.MuiListSubheader-root {
  height: 50px;
}

/* .MuiButtonBase-root {
  height: 50px;
} */
.admin_page {
  display: flex;
  height: 100%;
}

.admin_page .sidebar {}

.admin_page .content_area {
  display: flex;
  width: 100%;
  overflow: auto;
  height: calc(100% - 50px);
  flex-direction: column;
  margin-top: 46px;
}
