.dashboardMenuList {
  position: relative;
}

.arrowKeys {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  position: absolute;
  right: -66px;
  top: 5px;
}

.dashboardMenuList .MuiListItemText-root {
  transition: all ease 1s;
  display: none;

}

.dashboardMenuList.active .MuiListItemText-root {
  transition: all ease 1s;
  display: unset;

}

.MuiListSubheader-root {
  height: 50px;
}

.dashboard_list .MuiButtonBase-root {
  height: 50px;
} 

.arrowKeys .MuiButtonBase-root {
  width: 25px !important;
  height: 40px;
}

.admin_page {
  display: flex;
  height: 100%;
}

.admin_page .sidebar {
  
}

.admin_page .MuiList-root {
  height: 88.7vh;
  background-color: white;
    color: black;
}

.admin_page .content_area {
    margin-top: 46px;
  flex-wrap: wrap;
  overflow: scroll;
  height: 80vh;
  width: 90%;
  justify-content: center;
}

.sidebar .MuiListSubheader-root {
  background-color: #E0F4FF;
  color: #5569D9;
}

.logout_btn {
color: black !important;
  font-weight: 600;
}

.admin_layout .MuiPaper-root {
  background-color: #FAFBFD;
  box-shadow: 0px 4px 8px 2px rgba(0, 0 ,0 ,0.2);
}

.admin_layout img {
  width: 20%;
}

.admin_page .MuiSvgIcon-root {
  position: sticky;
}