
.product_list_btn {
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.action_btn {
    display: flex;
    flex-direction: row;
    gap:10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}