* {
    margin: 0;
    padding: 0;
}

.ViewProduct {
    width: 500px;
    max-width: 100%;
    margin: auto;
}

.ViewproductField_box {
    margin-top: 50px;
    width: 500px;
    height: 100%;
    background: #fff;
    padding: 50px;
    box-shadow: 5px 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.View_input {
    margin-bottom: 15px !important;
}

.ViewProduct_title {
    text-align: center;
    margin: 20px 0 !important;
    font-size: 28px !important;
    font-weight: 700 !important;
}