.img {
    width: 5%;
    margin-right: 70px;
}

.homeNavbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1) !important;
    background-color: rgba(0, 0, 0, .15) !important;
    position: 'fixed' !important;
}

.homeNavbar :hover {
    background-color: #fff !important;
    color: #000 !important;
}

.grid {
    background-color: #F5F5F5;
}

.grid .solu_title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 32px;
    color: #333;
}


.left_first {
    max-width: 758px;
    margin-bottom: 16px;
    position: relative;
}

.left_first_img {
    height: 230px;
}

.first_up {
    position: relative;
    max-width: 370px;
    height: 230px;

}

.solu_card_content {
    position: absolute;
    bottom: 1px;
    color: white;
    font-style: italic;
    font-size: 12px;
    font-weight: 200;
}


.first_up_second {
    position: relative;
    max-width: 370px;
    height: 230px;

}

.bottom_first {
    position: relative;
    max-width: 370px;
    height: 150px;

}

.bottom_second {
    position: relative;
    max-width: 370px;
    height: 150px;

}

.right_first {
    position: relative;
    max-width: 400px;
    height: 656px;
}

.left_first:hover {
    border-radius: 30px;
}

.left_first_img:hover .solu_card_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3);
}

.bg_product {
    background-color: #F5F5F5;
}

.product_title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 32px;
    color: #333;
}

.Event_title {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 32px;
    color: #333;
}

.main {
    display: flex;
    gap: 15px;
}

.blog_title {
    font-size: 25px !important;
    font-weight: 700 !important;
}

.CardHeader {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

.media {
    height: 280px;

}

.event_left_first {
    width: 600px;
}

.right_up_media {
    max-width: 248px;
    height: 168px;
}

.e_link {
    color: 'black' !important;
    font-size: 18 !important;
    font-size: 700 !important;
    text-decoration: none !important;
}

.event_left_first:hover .media {
    transform: scale(1.2);
    margin-bottom: 10px;
}

.event_left_first:hover .e_link {
    cursor: 'pointer' !important;
    text-decoration: underline !important;
}

/* .right_up{
    display: flex;
} */

.swiper-slide {
    width: 300px;
    height: 75px;
    margin-right: 0;
    box-shadow: none !important;
    background-color: #F5F5F5 !important;

}

.card_title {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgb(51, 51, 51) !important;
    margin-bottom: 26px !important;
}

.card_body {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: rgb(51, 51, 51) !important;
    margin-bottom: 26px !important;
}

.sliderLink {
    padding-bottom: 15px;
}

.detail_link {
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}

.swiper-slide:hover .sliderLink {
    border: 1px solid #0e5fac;
    padding: 6px 35px;
    background-color: #0e5fac;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.swiper-slide:hover .cardimg {
    transform: scale(1.2);
    transition: all 1s ease-in;

}

.swiper-slide:hover .cardnew {
    box-shadow: 0 0 16px rgba(0, 0, 0, .12);
    cursor: pointer;
}






















.bg_event {
    background: url('https://www.dahuasecurity.com/images/en-news-bg.png');
    padding-bottom: 150px;
}

.e_CardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}











/* .swiper-slide:hover .cardnew{
    transform: scale(1);
    transition: all 2s ease-in-out;
    box-shadow: 5px 2px 3px rgb(96, 96, 96);
} */

/* .CardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
} */

/* .css-lvmkdn-MuiCardMedia-root {
    margin-bottom: 50px;
}

.css-41l10o-MuiTypography-root {
    font-size: 16px !important;
}

.css-29sfs-MuiPaper-root-MuiCard-root {
    padding-bottom: 10px !important;
/* } */



/* 

.swiper-pagination-bullet {
    bottom: -13px !important;
}

.css-gm0pd4-MuiTypography-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
} */

/* .card {
    display: flex;
}

.CardMedia {
    width: 300px !important;
    height: 200px
} */

.h_f {
    font-size: 12px;
    color: rgb(197, 197, 197);
    font-weight: 600;
}

.newletter {
    position: relative;
}

.newletter input {
    height: 40px;
    width: 240px;
    background-color: transparent;
    margin: 0;
    border: 1px solid #3c3c42;
}

.btn {
    position: absolute;
    right: 13px;
    top: 54px;
    background: blue;
    padding: 6px 14px;
    color: white;
    font-size: 12px;
}


.fotter_f {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0 0px;
    padding: 70px 0 40px;
    gap: 26px;
}

.f_item:a {
    color: blue;
}

.f_item {
    display: flex;
    flex-direction: column;
}

.f_item a {
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

.sepration {
    border: 1px solid #3c3c42;
    /* height: 1px;
    background-color: #3c3c42; */
}

.f_l {
    font-size: 12px;
    color: #606060;
}

.heading {
    color: rgb(197, 197, 197);
    font-size: 12px !important;
    margin-bottom: 8px !important;
}

.chinese {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.subtitle {
    font-size: 12px;
    color: rgb(197, 197, 197);
    line-height: 1.5;
    font-weight: 100;
}

.fotter_s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 80px 0;
}

.icons {
    display: flex;
    gap: 10px;
}

.product {
    margin-left: 180px;
    margin-right: 30px;
}

/* 
.MuiButtonBase-root {
    margin-right: 900px;
} */