.swiper-slide {
    width: 300px;
    height: 375px;
    margin-right: 0;
    box-shadow: none !important;
}

.css-lvmkdn-MuiCardMedia-root {
    margin-bottom: 50px;
}

.css-41l10o-MuiTypography-root {
    font-size: 16px !important;
}

.css-29sfs-MuiPaper-root-MuiCard-root {
    padding-bottom: 10px !important;
}

.css-dnrpxu-MuiCardActions-root {
    justify-content: center;
}

.swiper-pagination-bullet {
    bottom: -13px !important;
}

.css-gm0pd4-MuiTypography-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.card {
    display: flex;
}

.CardMedia {
    width: 300px !important;
    height: 200px
}

.bg {
    background-image: 'https://www.dahuasecurity.com/images/en-news-bg.png';
}

.h_f {
    font-size: 12px;
    color: rgb(197, 197, 197);
    font-weight: 600;
}

.newletter {
    position: relative;
}

input {
    height: 40px;
    width: 300px;
    background-color: transparent;
    margin: 0;
}

.btn {
    position: absolute;
    right: 13px;
    top: 57px;
    background: blue;
    padding: 6px 14px;
    color: white;
    font-size: 12px;
    /* border: none;
    outline: none; */
}


.fotter_f {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 0 0px;
    padding: 70px 48px 40px;
    gap: 23px;
}

.f_item {
    display: flex;
    flex-direction: column;
}

.f_item a {
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

.sepration {
    height: 1px;
    background-color: grey;
}

.f_l {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.heading {
    color: rgb(197, 197, 197);
}

.chinese {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.subtitle {
    font-size: 12px;
    color: rgb(197, 197, 197);
    line-height: 1.5;
    font-weight: 100;
}

.fotter_s {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.icons{
    display: flex;
    gap: 10px;
}