 .login-bg {
  width: 100%;
  height: 100vh;
  background-color: #E7E2FF;
  z-index: -6;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
 } 

.container {
    width: 910px;
       margin: auto;
       background-color: #E4DFFD;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
     }
    
    
     .login-main {
      z-index: 0;
       position: relative;
       box-shadow: 5px 10px 0 #E7E2FF;
     }
   
   
   
   .login-page {
    width: 400px;
    background-color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   }
   
   .login-header {
    position: relative;
     width: 800px;
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
   border-radius: 20px;
   }
   
    
   .login-main::before {
     content: '';
     border: 1px solid #654FF0;
     width: 50px;
     height: 50px;
     position: absolute;
     top: -18px;
    left: -20px;
     border-radius: 50px;
     background-color: #654FF0;
     z-index: -1;
   }
   
   .login-main::after {
     content: '';
     border: 1px solid white;
     width: 50px;
     height: 50px;
     position: absolute;
     bottom: -20px;
     right: -25px;
     border-radius: 50px;
     background-color: white;
   
     z-index: -1;
    } 
   
   
   .loginInputBox {
     display: flex;
     flex-direction: column;
     gap: 10px;
    } 
   
   
   
   .username {
    position: relative;
     width: 260px;
    height: 35px;
    padding: 0 0 0 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #F3F1FF;
   }
   
   .password {
    position: relative;
     width: 260px;
    height: 35px;
    padding: 0 0 0 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #F3F1FF;
   }
    
   .LoginButton {
     width: 115px;
    height: 35px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background-color: #8875F3;
    color: white;
     cursor: pointer;
   }
   
   .LoginButton:hover {
     background-color: transparent;
     color: #8473F3;
     border: 1px solid #8473F3;
   }
   
    
   .googleBox {
     
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 7px;
    align-items: center;

   }
   
   .googleBox img {
     width:36px;
    } 
   
   .loginPageRightPart {
    width: 400px;
    height: 60vh;
    background-color: #6D58F1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
    
   .loginOverlay {
    position: relative;
     width: 210px;
     height: 275px;
     border-radius: 30px;
     background-color: #897AF1;
     opacity: 0.5;
   }
   
    
   .girlimage {
         position: absolute;
    width: 200px;
    transform: translate(-178px, -47px);
    } 
   
   .login-icon {
     width: 45px;
    position: absolute;
    transform: translate(-228px, 10px);
    } 
   
   .login-username {
    width: 290px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
   
   }
   
   .login-password {
    width: 290px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
   
   }
    
   .MuiSvgIcon-root {
    position: absolute;
    left: 7px;
    top: 6px;
    font-size: 22px !important;
   }
    

   /* 
   @media only screen and (max-width: 600px) {
     .loginPageRightPart {
       display: none;
     }
   
     .login-header {
       width: 800px;
       height: 100vh;
   
     }
   }
   
   @media only screen and (max-width: 600px) {
     .login-page {
       width: 600px;
       margin: auto;
       height: 50vh;
       font-size: 25px;
     }
   
     .username {
       width: 479px;
       font-size: 27px;
       padding: 27px 12px 27px 90px;
     }
   
     .password {
       width: 479px;
       font-size: 27px;
       padding: 27px 12px 27px 90px;
     }
   
     .MuiSvgIcon-root {
       font-size: 52px !important;
       top: 15px;
     } */ 
    
     /* .LoginButton {
       width: 100%;
       height: 60px;
       font-size: 25px;
       font-weight: 600;
     }
   
     .LoginButton:hover {
       background-color: transparent;
      } */
   



     @media only screen and (max-width: 600px) {
.login-page {
    width: 800px;
}
.loginPageRightPart{
    display: none;
}
     }